@media  (max-width: 767px)
	.center

	.header
		width: 100vw
		padding: 0 32px

		&__link-cart
			display: none

		&__link-registration
			display: none
	.menu
		width: 100%

	.promo

		&__center

		&__left
			width: 0

			& img

		&__right
			width: 100%
			padding-left: 0

		&__caption
			padding-left: 16px
			// height: 100%

			&-title
				+font(44px, 53px, 900)

			&-text
				+font(24px, 29px, 700)

	.catalog
		row-gap: 32px
		flex-direction: column

		&-box
			margin: 18px 16px 0 16px

		& img
			// height: 167px

		&__item
			width: 100%

		&__item, &__big

		&__item-caption

		&__big
			height: 111px

			& img
				height: 100%
				object-fit: cover

			&::after

		&__p

		&__h3

	.product
		margin-top: 64px

		& p

		&__caption h4

		&__caption p

		&__items
			margin-top: 64px
			justify-content: center

		&__item
			&::after
				width: 100%
			&:hover

			&:hover &-img

			&-img

				&::after

			&-caption

				&:hover

			&-text

			&-price

		&__item:hover &__cart-add

		&__cart-add

			&:hover

		&_mb

	.catalog__product
		margin-top: 16px

		&-items
			margin-top: 0px

	.footer
		margin-top: 65px
		width: 100%

		&__top
			height: 610px
			padding: 48px 0 64px
			flex-direction: column

			&-item

			&-h4

			&-text

		&__main
			height: 550px
			padding-top: 54px
			padding-bottom: 109px

			&-left, &-right
				height: auto

			&-right
				width: 570px

			&-p
				+font(18px, 21px, 400)

			&-title
				+font(14px, 21px, 400)
				text-align: center

			&-title span
				+font(24px, 38px, 700)
				/* text-align: center  */
			&-input

			&-button

				&:hover

		&__buttom
			height: 143px
			flex-direction: column-reverse
			padding: 43px 32px 9px

			&-left

			&-right

			&-right a

			&-nets

			&-link

			&-link:hover

			&-link:hover &-nets
				// filter: invert() 

	.subheader
		padding: 0 16px
		display: block

		&__left
			height: 50%
			justify-content: center
			align-items: center
			&-cart
				height: 100%

		&__right
			height: 50%
			height: auto
			justify-content: center

		&__caption
			margin-top: 24px
			&-cart
				margin-top: 0

		&__path
			margin-top: 20px

	.filter
		&__caption
			+font(12px, 14px, 400)
		&__caption-first
			height: 100%
			width: 100%
		&__item
			&-first
				width: 0
			&-second
				width: 100%
			&-name

			&-caption
				color: $invertColor
				display: block
				padding: 0

				& img
					margin-left: -55px
					padding: 0
					top: 10px
					width: 38px
					height: 25px
					object-fit: cover

	.slider
		position: relative
		&__img
			width: 100%
			object-fit: contain

		&__button
			position: absolute
			z-index: 10
			top: calc(50% - 24px)
			&:last-child
				right: 0

	.description
		&__long-line
			margin-top: 32px
			width: 174px
			padding: 0 100px
		&__filter
			width: 350px
			margin-top: 50px
			&-box
				min-width: 110px
			&-caption
				+font(10px, 12px, 400)
				min-width: 80px

		&__button
			margin-top: 64px

	.registration
		display: block
		padding: 0

		&__left
			width: 100%
			padding: 0 16px

		&__right
			width: 100%
			padding-left: 0
			margin-top: 40px
			padding: 0 16px

	.cart
		margin-top: 7px

		&__left

		&__right
			margin-top: 48px
			display: block
			// padding: 0 16px
		&__buttons
			margin-top: 30px
			column-gap: 10px

		&__button
			height: 32px
			margin-top: 0
			+font(12px, 32px, 400)
			text-transform: none

		&__content
			padding: 13px 17px

		&__item
			height: 188px
			margin-top: 32px
			&-img
				width: 143px
				height: 188px
			&-caption
				+font(16px, 19px, 400)
				margin-bottom: 25px
			&-input
				width: 24px
				height: 14px
				left: 85px
				+font(10px, 12px, 300)

	.adress
		min-width: 0
		width: 100%
		&__button
			margin-top: 24px
			+font(11px, 34px, 400)

	.item__text
		+font(14px, 17px, 400)

	.button

		&__close
			top: 17px
			right: 12px

	.summary
		width: 100%
		&__button
			margin-top: 17px
			height: 50px
			+font(16px, 50px, 300)
