/* Regular */
@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-Regular.ttf") format("truetype"), url("../fonts/MyriadPro-Regular.eot") format("embedded-opentype"), url("../fonts/MyriadPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-SemiBold.ttf") format("truetype"), url("../fonts/MyriadPro-SemiBold.eot") format("embedded-opentype"), url("../fonts/MyriadPro-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-Bold.ttf") format("truetype"), url("../fonts/MyriadPro-Bold.eot") format("embedded-opentype"), url("../fonts/MyriadPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro-Light.eot") format("embedded-opentype"), url("../fonts/MyriadPro-Light.woff") format("woff"), url("../fonts/MyriadPro-Light.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

li {
  text-decoration: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

html {
  font-family: 'Myriad Pro', 'Myriad Pro', 'Myriad Pro', 'Myriad Pro',sans-serif;
  color: #363636;
}

h1 {
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
}

h2 {
  font-size: 36px;
  line-height: 43px;
  font-weight: 700;
}

h3 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 600;
}

p {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.button {
  height: 48px;
  width: 360px;
  display: inline-block;
  font-size: 16px;
  line-height: 48px;
  font-weight: 600;
  text-align: center;
  color: #fff;
  background-color: #008DCD;
  text-transform: uppercase;
  border-radius: 30px;
}

.button:hover {
  -webkit-box-shadow: 0px 4px 15px rgba(27, 170, 235, 0.45);
          box-shadow: 0px 4px 15px rgba(27, 170, 235, 0.45);
}

.button__other {
  height: 48px;
  width: 360px;
  display: inline-block;
  font-size: 18px;
  line-height: 48px;
  font-weight: 600;
  text-align: center;
  background-color: #FFCC00;
  text-transform: uppercase;
  border-radius: 30px;
}

.button__other:hover {
  -webkit-box-shadow: 0px 4px 20px rgba(255, 204, 0, 0.55);
          box-shadow: 0px 4px 20px rgba(255, 204, 0, 0.55);
}

.header {
  height: 525px;
  position: relative;
  color: #fff;
}

.header a {
  color: #fff;
}

.header__background {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 29px;
  margin-bottom: 88px;
}

.header__logo {
  width: 160px;
  height: 46px;
}

.header__menu {
  width: calc(100% - 160px);
}

.header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 46px;
  padding: 0 0 0 140px;
}

.header__item {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}

.header__item:hover {
  font-weight: 600;
}

.header__caption {
  margin-bottom: 22px;
}

.header__subcaption {
  margin-bottom: 35px;
}

.subheader {
  height: 457px;
  background-color: #F7F7F7;
}

.subheader__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 438px 660px;
      grid-template-columns: 438px 660px;
}

.subheader__right {
  width: 438px;
}

.subheader__caption {
  margin-bottom: 22px;
}

.subheader__text {
  margin-bottom: 32px;
  color: #000;
}

.steps {
  color: #000000;
  padding: 69px 0 32px;
}

.steps__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.steps__step {
  max-width: 460px;
}

.steps__image {
  margin-bottom: 41px;
}

.steps__caption {
  margin-bottom: 9px;
}

.steps__text {
  font-size: 20px;
  line-height: 24px;
  font-weight: 300;
  height: 93px;
  margin-bottom: 36px;
}

.sending {
  background-color: #f7f7f7;
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sending__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.callback {
  height: 240px;
  background-color: #008DCD;
  color: #fff;
}

.callback__body {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.callback__caption {
  text-transform: uppercase;
  margin-bottom: 16px;
}

.callback__text {
  font-size: 24px;
  line-height: 23px;
  font-weight: 400;
}

.callback__right {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.callback__input {
  height: 48px;
  width: 360px;
  display: inline-block;
  font-size: 16px;
  line-height: 48px;
  font-weight: 100;
  text-align: left;
  padding: 0 21px;
  color: #fff;
  background-color: #008DCD;
  border-radius: 30px;
  border: 1px solid #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 9px;
}

.callback__input::-webkit-input-placeholder {
  color: #fff;
}

.callback__input:-ms-input-placeholder {
  color: #fff;
}

.callback__input::-ms-input-placeholder {
  color: #fff;
}

.callback__input::placeholder {
  color: #fff;
}

.callback__link {
  margin-bottom: 16px;
  color: #363636;
}

.callback__check label {
  font-size: 10px;
  line-height: 12px;
  font-weight: 100;
}

.callback__check::before {
  background-color: #008DCD;
}

.feedback {
  min-height: 547px;
  padding-top: 69px;
}

.feedback__caption {
  margin-bottom: 48px;
}

.feedback__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrow:hover svg path {
  stroke: #008DCD;
}

.card {
  max-width: 460px;
}

.card__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 28px;
}

.card__description {
  padding-left: 32px;
}

.card__name {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin-bottom: 16px;
}

.card__firm {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 16px;
}

.card__type {
  margin-bottom: 4px;
}

.card__from {
  margin-bottom: 4px;
}

.advantages {
  height: 496px;
  background-color: #F7F7F7;
  padding-top: 101px;
}

.advantages__caption {
  margin-bottom: 30px;
}

.advantages__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages__item {
  width: 160px;
}

.advantages__icon {
  width: 160px;
  height: 160px;
  border-radius: 80px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 34px;
}

.advantages__text {
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}

.guarantees {
  height: 612px;
  padding-top: 80px;
}

.guarantees__caption {
  margin-bottom: 27px;
}

.guarantees__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.guarantees__item {
  width: 360px;
}

.guarantees__icon {
  width: 160px;
  height: 160px;
  border-radius: 80px;
  background-color: #F7F7F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px;
}

.guarantees__title {
  margin-bottom: 16px;
}

.guarantees__text {
  height: 125px;
}

.doubts {
  height: 416px;
  padding-top: 64px;
  background-color: #D2ECF7;
}

.doubts__caption {
  margin-bottom: 24px;
}

.doubts__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.doubts__column {
  width: 558px;
}

.doubts__list {
  height: 64px;
  width: 558px;
  border-radius: 32px;
  background-color: #fff;
  border: none;
  margin-bottom: 16px;
  padding: 15px 50px 10px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-weight: 400;
  cursor: pointer;
}

.doubts__list::after {
  position: absolute;
  right: 20px;
  top: 24px;
  content: url("../img/drop.svg");
}

.brands {
  height: 172px;
}

.brands__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  height: 266px;
  background-color: #E9E9E9;
}

.footer__questions {
  height: 109px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo {
  margin-right: 40px;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 93px;
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__item {
  color: #000;
}

.footer__item:hover {
  font-weight: 600;
}

.footer__bottom {
  height: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer__copy {
  width: 30%;
}

.footer__year {
  width: 15%;
}

.footer__nets {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__designe {
  width: 45%;
  text-align: right;
}

.questions__caption {
  display: inline-block;
  width: 500px;
}

.questions__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 31px;
}

.questions__input {
  height: 50px;
  width: 362px;
  border-radius: 25px;
  padding: 0 60px 0 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 50px;
  background-color: #E9E9E9;
}

.questions__check {
  font-size: 10px;
  line-height: 12px;
  font-weight: 300;
  width: 100%;
}

.questions__check input[type=checkbox] {
  background-color: #000;
}

.questions__check::before {
  display: none;
  background-color: #000;
}

.line {
  width: 100%;
  border: 1px solid #C4C4C4;
}
/*# sourceMappingURL=style.css.map */